{% if product.metafields.custom.personalise_variant.value != blank %}
  {% assign personalise_variant = product.metafields.custom.personalise_variant.value %}

  <product-personalise
    class="block w-full p-4 bg-[#F5F5F5]"
    data-personalise-variant-id="{{ personalise_variant.id }}"
    data-personalise-price="{{ personalise_variant.price }}"
  >
    <div class="flex items-center justify-between w-full">
      <label class="relative text-[1.4rem] flex break-words items-center cursor-pointer p-0 grow [&>svg]:bg-[rgb(var(--color-background))] [&>svg]:mr-3 [&>svg]:shrink-0">
        <input
          type="checkbox"
          name="personalise"
          value="{{ personalise_variant.id }}"
          data-personalise-toggle
          class="peer absolute opacity-100 w-4 h-4 top-[0.2rem] -left-1 -z-10 appearance-none"
        >
        {{- 'square.svg' | inline_asset_content -}}
        <div class="invisible peer-checked:visible absolute left-[0.3rem] z-[5] top-[0.5rem] w-[1.1rem] h-[0.7rem]">
          {{- 'icon-checkmark.svg' | inline_asset_content -}}
        </div>
        <span>{{ personalise_variant.product.title | prepend: 'Add ' }}</span>
      </label>
      <span>{{ personalise_variant.price | money }}</span>
    </div>
    <div class="!grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-10 mt-4 !hidden" data-personalise-options >
      <div id="custom-options" class="flex-1 [&>fieldset]:border-none [&>fieldset]:p-0 [&>fieldset]:mb-3 [&>fieldset>legend]:text-[1.3rem] [&>fieldset>legend]:font-semibold [&>fieldset>legend]:mb-2">
        {% for option in product.metafields.custom.personalise.value %}
          <fieldset class="product-form__input">
            <legend class="form__label">{{ option.label }} {% if option.limit %}(up to{{ option.limit }} characters max){% endif %}</legend>
            {% if option.type == 'text' %}
              <input 
                type="text" 
                name="properties[_{{ option.label | replace: ' ', '-' }}]"
                maxlength="{{ option.limit }}"
                class="field__input  border border-[#D9D9D9] rounded !px-4 !py-2"
              >
            {% endif %}
            {% if option.type == 'color' %}
              <div class="flex items-center flex-wrap gap-2">
                {% for item in option.options.value %}
                  <div class="relative">
                    <input
                      type="radio"
                      id="{{ product_form_id }}_{{ option.label }}_{{ item }}"
                      name="properties[_{{ option.label | replace: ' ', '-' }}]"
                      value="{{ item }}"
                      class="peer absolute opacity-0 w-0 h-0 pointer-events-none"
                    >
                    <label
                      for="{{ product_form_id }}_{{ option.label }}_{{ item }}"
                      class="relative inline-block w-8 h-8 rounded-full border border-[#D9D9D9] cursor-pointer transition-shadow hover:shadow-[0_0_0_1px_rgba(var(--color-foreground),0.4)] peer-checked:shadow-[0_0_0_1px_rgba(var(--color-foreground),1)] peer-checked:border-[rgba(var(--color-foreground),1)]"
                      style="background-color: {{ item | default: 'white' }};"
                      title="{{ item }}"
                    ></label>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            {% if option.type == 'font' %}
              <div class="!grid grid-cols-2 gap-2">
                {% for item in option.options.value %}
                  <link href="https://fonts.googleapis.com/css2?family={{ item | replace: ' ', '+' }}&display=swap" rel="stylesheet">
                  <div class="relative">
                    <input
                      type="radio"
                      id="{{ product_form_id }}_{{ option.label }}_{{ item }}"
                      name="properties[_{{ option.label | replace: ' ', '-' }}]"
                      value="{{ item }}"
                      class="peer absolute opacity-0 w-0 h-0 pointer-events-none"
                    >
                    <label
                      for="{{ product_form_id }}_{{ option.label }}_{{ item }}"
                      class="block w-full py-2 px-4 border border-[#D9D9D9] rounded text-center cursor-pointer text-[1.4rem] transition-colors bg-transparent hover:border-[rgba(var(--color-foreground),0.4)] peer-checked:border-[rgba(var(--color-foreground),1)] peer-checked:shadow-[0_0_0_1px_rgba(var(--color-foreground),1)]"
                      style="font-family: '{{ item }}', serif;"
                    >
                      {{ item }}
                    </label>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </fieldset>
        {% endfor %}
      </div>
      <div data-preview-media>
        {%- assign preview_image = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
        {%- if preview_image -%}
          <div class="relative inline-block w-full max-w-[300px] rounded-lg overflow-hidden border border-[#D9D9D9]">
            <img
              src="{{ preview_image | image_url: width: 600 }}"
              alt="{{ product.title | escape }}"
              width="300"
              height="300"
              loading="lazy"
              data-preview-image
              class="block w-full h-auto object-cover"
            >
            <div class="absolute bottom-[15%] left-1/2 -translate-x-1/2 text-center pointer-events-none whitespace-nowrap" data-preview-overlay>
              <span class="text-[2rem] text-white [text-shadow:0_1px_3px_rgba(0,0,0,0.4)] tracking-wider" data-preview-text></span>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </product-personalise>

  <script src="{{ 'product-personalise.js' | asset_url }}" defer ></script>
{% endif %}
